[user]
	email = mail@hasanamin.com
	name = Hasan Amin
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gitlab.werewolf-banded.ts.net"]
	helper = 
	helper = !glab auth git-credential
[gitlab "gitlab.werewolf-banded.ts.net/api/v4"]
	user = hamin
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[rerere]
	enabled = true
[pull]
	rebase = true
[rebase]
	autoStash = true
[fetch]
	prune = true
[push]
	autoSetupRemote = true
	default = current
